body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s ease;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-size: 4rem;
  font-family: Merriweather;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  perspective: 1000px;
}

.hours-box,
.minutes-box {
  background-color: #F1F1EF;
  padding: 20px 50px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.flip {
  animation: flip 0.5s;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.separator {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 10px;
  padding-top: 10px;
}

/* Button styles */
#switch-btn {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  border: solid 1px;
  border-color: #c4c3c1;
  padding: 4px 10px;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-mode #switch-btn {
  background-color: #F1F1EF;
  color: #333;
}

.dark-mode #switch-btn {
  background-color: #2F3438;
  color: #f2f2f2;
}

.light-mode {
  background-color: #fff;
  color: #37352F;
}

.light-mode .hours-box,
.light-mode .minutes-box {
  background-color: #F1F1EF;
  color: #37352F;
}

.dark-mode {
  background-color: #2F3438;
  color: #979A9B;
}

.dark-mode .hours-box,
.dark-mode .minutes-box {
  background-color: #373C3F;
  color: #979A9B;
}
